@charset "UTF-8";

/* 
    PALETADE CORES:
verde: #49a09d
lilás: #5f2c82

*/

* {
    margin: 0px;
    padding: 0px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.562);

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    transition: width 0.5s, height 0.5;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background:black url(../imagens/cafezin.jpg) center center no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}
/*  */

section#login > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#formulario > p {
    padding: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 0.75em;
}

form {
    padding: 10px;
}

form > div {
    display: block;
    width: 220px;
    height: 50px;
    margin-top: 5px;
    padding: 10px;
    background-color: #49a09d;
    border-radius: 15px;
}

form > div > label > span{
    display: block;
    margin: auto;
}

form > div > input {
    padding: 5px;
    border: 2px solid black;
}
