@charset "UTF-8";

/* 
    PALETADE CORES:
verde: #49a09d
lilás: #5f2c82

*/

* {
    margin: 0px;
    padding: 0px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 540px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.562);

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    transition: width 0.5s, height 0.5;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background:black url(../imagens/cafezin.jpg) center center no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

section#login > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#formulario > p {
    padding: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 0.75em;
}

form > div.campo {
    display: block;
    height: 40px;
    margin: 5px 0px;
    padding: 10px;
    background-color: #49a09d;
    border-radius: 5px;
}

div.campo > label > span {
    color: white;
    font-size: 2em;
    width: 40px;
    transform: translateY(-5px);
}

div.campo > input {
    background-color: #357471a9;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    border:none;
    width: calc(100% - 44.36px);
    height: 180%;
    padding: 4px;
    transform: translateY(-15px);
}

div.campo > input:focus-within {
    background-color: white;
}
::placeholder {
    color: rgba(0, 0, 0, 0.726);
    font-size: 1.2em;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #224b49;
}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #224b49;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 7px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: #63d4d1;
}

form > a.botao > i {
    font-size: 0.8em;
}
